# If the pattern does not contain a slash /, git treats it as a shell
# glob pattern and checks for a match against the pathname relative
# to the location of the .gitignore file (relative to the toplevel of
# the work tree if not from a .gitignore file).

# Otherwise, git treats the pattern as a shell glob suitable for
# consumption by fnmatch(3) with the FNM_PATHNAME flag: wildcards in
# the pattern will not match a / in the pathname. For example,
# "Documentation/*.html" matches "Documentation/git.html" but not
# "Documentation/ppc/ppc.html" or
# "tools/perf/Documentation/perf.html".

# Ignores python compiled bytecode
*.pyc
.DS_Store
